<main> 
  <section class="spotlight">
  <h2 class="spotlight__header">
  <span class="spotlight__header--prefix">Media Spotlight</span>
    <% spotlight = Work.spotlight %>
    <%= link_to spotlight.title, work_path(spotlight.id), class: "spotlight__link-to" %> by <%= spotlight.creator %>
  </h2>
  <p class="spotlight__description">
  <%= spotlight.votes.length %> votes - <%= spotlight.description %>
  </p>
</section>
<hr class="root__hr">

<section class="top-ten__container">
  <% @categories.each do | category | %>
  <section class="top-ten__list-container">
    <h2 class="top-ten__header">
      Top <%= category.capitalize.pluralize %>
    </h2>
    <ul class="list-group top-ten__list">
    <% @works.top_ten(category).each do |work| %>
      <li class="list-group-item">
        <h4>
        <%= link_to work.title, work_path(work.id) %>
        <small class="top-ten__creator">by <%= work.creator %></small>
        </h4>
        <p><%= work.votes.length %> votes</p>
      </li>
      <% end %>
    </ul>
  </section>
  <% end %>
</section>      
</main> 