<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Gudea:400,700|Hammersmith+One" />
  </head>

  <body>
    <header class="app-header__header">
    <h1>
      <a href="/">Media Ranker</a>
      <small>Ranking the Best of Everything</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/">View top media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works">View all media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works/new">Add a new work</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/users">View all users</a>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">

        <li class="nav-item app-header__nav_item">
          <a class="btn btn-primary" href="/login">Log In</a>
        </li>

      </ul>
    </nav>
  </header>

   <main>
    <section class="spotlight">
      <h2 class="spotlight__header">
        <span class="spotlight__header--prefix">Media Spotlight</span>
        <a class="spotlight__link-to" href="">To Thrill a Mockingbird</a> by Harper Leeee
      </h2>
      <p class="spotlight__description">
        6 votes - brand new
      </p>
    </section>

    <hr class="root__hr">
    <section class="top-ten__container">
      <section class="top-ten__list-container">
      <h2 class="top-ten__header">
        Top Movies
      </h2>
      <ul class="list-group top-ten__list">
      </ul>
      </section>

      <section class="top-ten__list-container">
        <h2 class="top-ten__header">Top Books</h2>
        <ul class="list-group top-ten__list">
        </ul>
      </section>

      <section class="top-ten__list-container">
        <h2 class="top-ten__header">Top Albums</h2>
        <ul class="list-group top-ten__list">  
        </ul>
      </section>

    </section>

  </main>

    <%= yield %>
  </body>
</html>
